/* .navbar {
  transition: all .5s ease-in-out;
}    

 .navbar-brand{
  color:blue;
  padding: 0;
  margin: 50px 0 5px 0;
  font-size:30px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.navbar .navbar-brand {
  padding: 0;
  margin:0;
  text-transform: uppercase;
  letter-spacing: 3px;
} */

/*.navbar-nav .nav-item {
  padding-left: 8px;
  padding-right: 8px;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
  font-size: 14px;
  text-transform: uppercase;
}

.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:focus .nav-link,
.navbar-dark .nav-item:hover .nav-link {
  color: #4CAF50;
}

.btn-navbar-toggler-style:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* PADDING */
/* .navbar-collapse.collapsing,
.navbar-collapse.show {
  padding-top: 30px;
} */ 

