<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/styles/main.css" />

        <script src="/scripts/bootstrap.js" defer></script>
        <script src="/scripts/main.js" defer></script>

        <title>SellItUp</title>
    </head>
    <body class="has-navbar-fixed-top">
        <!-- https://bulma.io/documentation/components/navbar/#fixed-navbar -->

        <nav class="navbar navbar-expand-md fixed-top navbar-dark p-md-3">
            <div class="container-fluid">
                <!-- <div class="navbar-header"> -->
                    <a herf="#" class="navbar-brand">All Products</a>
                    <button 
                        type="button"
                        class="navbar-toggle"
                        data-bs-target="#navbarNav"
                        data-bs-toggle="collapse"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle Navbar">
                        <span class="navbar-toggle-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="mx-auto">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/products" class="nav-link text-white">products</a>
                            </li>
                            <li class="nav-item">
                                <a href="/products/new" class="nav-link text-white">New Products</a>
                            </li>
                        </ul>
                        </div>
                    </div>
                <!-- </div> -->
            
                
            </div>
        </nav>

        <main class="">
            <div class="">
                <% for(let idx = 0; idx < products.length; idx++){ %> <% const product =
                products[idx] %>

            
                            <img class="img-rounded-circle"  width="500" height="500" src="<%= product.image %>" alt="Placeholder image" />
                        
                                    <h3>
                                    <a href="/products/<%= product.id %>"><%= product.name %> </a>
                                    </h3>

                                    <p>$<%= product.price %></p>
                                
                            
                <% } %>
            </div>
        </main>
    </body>
</html>