<!DOCTYPE html>
<html>
<head>        
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="../public/styles/main.css">
	<title>SellItUp</title>    
</head>    
<body>
  <nav
  class="navbar is-dark is-fixed-top"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="/products"> All Products </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <!-- this will add a link to the new route -->
  <div class="navbar-menu navbar-end">
    <a class="navbar-item" href="/products/new"> New Product </a>
  </div>
</nav>

	<section class="hero is-medium has-background-light">
    <div class="hero-body">
			<h1 class="title">Product Show Page</h1>
    </div>
  </section> 


  
  
  <div class="container is-max-widescreen p-5">
    <article class="media">
      <figure class="media-left">
        <p class="image is-328x328">
          <img src="<%= product.image %>" alt="product img" />
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <h3>name: <%= product.name %></h3>
          <small>price: $<%= product.price %></small>
        </div>
      </div>
    </article>
  </div>
</body>
</html>